{% extends 'base.html' %}

{% block title %}
Übersicht der Events
{% endblock %}

{% block head %}
Übersicht der Events
{% endblock %}

{% block content %}
    
<ul class="list-group">

    {% for event in events %}
    <a href="{{event.get_absolute_url}}">
    <li class="list-group-item list-group-item-info">
        
        {{event.name}} <span class="badge badge-primary badge-pill">{{event.category.name}}</span>
        <span class="badge badge-secondary badge-pill">{{event.author}}</span>
    </li>
</a>
    {% endfor %}
</ul>

{% include "../snippets/paginator.html" %}

{% endblock %}
